.pipeline-stages {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .pipeline-stages h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .stage-card {
    background: #f8f9fa;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .stage-status {
    font-weight: bold;
    color: green;
  }

  
.start-button{
  flex: 1; 
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.start-button {
  background-color: #007bff;
  color: white;
}

.start-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}